body {
  background-color: gray;
}
h1 {
  font-size: 30px;
}
h2 {
  color: green;
}
h3 {
  background-color: green;
}
p {
  font-style: italic;
  background-color: green;
  width: 400px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
section {
  background-color: peachpuff;
  float: left;
  width: 66.66666667%;
}
aside {
  background-color: powderblue;
  float: left;
  width: 33.33333333%;
}
