body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: black;
}

p {
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
}

.contenedor {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #F8F8F8;
}

.contenidoprincipal {
    background: linear-gradient(to right, #1D0D11, #6F5964, #1D0D11);
    padding: 20px 5px 5px 25px;
}

.caja {
    display: inline-block;
    width: 290px;
    height: 555px;
    vertical-align: top;
    background: linear-gradient(to right, white, #6F5964);
    margin: 10px 15px 10px 0;
}

.about {
    width: 500px;
    height: 260px;
}

.photo {
    display: inline-block;
    border: 5px solid silver;
    margin: 10px 15px 10px 0;
}

.name {
    float: left;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
}

.summary {
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.categoria {
    color: white;
    font-weight: bold;
    background: linear-gradient(180deg, darkgray, gray, darkgray);
    padding: 10px 10px 10px 10px;
}

.clear {
    clear: both;
}

.button {
    background-color: #407D61;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    padding: 5px;
    width: 110px;
    margin: 5px 0 0 90px;
    text-align: center;
}

.label {
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.img380 {
    width: 380px;
}

.img290 {
    width: 290px;
}

.img20 {
    width: 20px;
}

.img40 {
    width: 40px;
    padding: 5px;
}

.descripcion {
    height: 150px;
}

.icons {
    padding: 5px;
}

.fontsize14 {
    font-size: 14px;
}

.footer {
    font-size: 12px;
    text-align: center;
}

.link {
    height: 20px;
    vertical-align: top;
    display: inline-block;
}