body {
    font-family: sans-serif;
    background-color: lightgrey;
}

.image-container {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.poke-dex {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: inline-block;
    background-color: darkgrey;
    vertical-align: top;
    width: 25%;
}