/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
}

#header {
    min-height: 150px;
    margin: 15px;
    background-color: green;
    padding: 30px;
    display: inline-block
}

#navigation {
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    margin-left: 15px;
    padding: auto;
}

#main_content {
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

#advertisement {
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin-left: 20px;
}